# Homework 1: Construction, structures and simple statistics (0,1,2)

In [1]:
import pandas as pd
import numpy as np

Some functions we have covered

- pd.Series() 
- df=pd.DataFrame({'A': 1., 'B': pd.Timestamp('20130102'), 'C': pd.Series(1, index=list(range(4)), dtype='float32'), 'D': np.array([3] * 4, dtype='int32'), 'E': pd.Categorical(["test", "train", "test", "train"]), 'F': 'foo'})
- df.T 
- df.index 
- df.columns 
- df.sort_values(by='C') 
- df['A'] 
- df.describe(include=['number', 'category', 'all'], percentiles=[.05, .25, .75, .95]) 
- df.max(skipna=False) 
- df.min() 
- df.sum() 
- df.mean() 
- df.unique() 
- df.idxmax() 
- df.iloc 
- df.value_counts()

pd.Series()
df=pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df.T
df.index
df.columns
df.sort_values(by='C')
df['A']

df.describe(include=['number', 'category', 'all'], percentiles=[.05, .25, .75, .95])
df.max(skipna=False)
df.min()
df.sum()
df.mean()
df.unique()

df.idxmax()
df.iloc
df.value_counts()

# Constructing the dataset

**Exercise 1:  Create 4 Series**  
Create a series with 100 entries called Norm1 that has random values that are normally distributed with mean 0 and standard deviation 4.  
Create a second series with 100 entries called Norm2 that has random values that are normally distributed with mean 3 and standard deviation 2.  
Create a third series with 100 entries called Conditions that has either 'WT' or 'mut', randomly chosen.
np.random.choice() can accomplish something like this.  
Create a fourth series with 100 entries called Counts that has a poisson distribution, lambda=5.

In [2]:
Norm1 = pd.Series(np.random.normal(0, 4, 100))
Norm1

0     -1.715169
1     -3.772064
2      2.576749
3      1.081432
4     -3.491432
        ...
95   -11.852746
96    -2.793496
97    -2.262294
98    -3.872895
99    -1.395072
Length: 100, dtype: float64

In [3]:
Norm2 = pd.Series(np.random.normal(3,2,100))
Norm2

0     3.113903
1    -0.492912
2     0.643590
3     3.518214
4     6.134270
        ...
95    8.728064
96    0.798693
97    2.791830
98    4.200515
99    0.214364
Length: 100, dtype: float64

In [4]:
Conditions = pd.Categorical(pd.Series(np.random.choice(['WT', 'mut'], size=100)))
Conditions

[WT, mut, mut, mut, WT, ..., WT, WT, mut, WT, WT]
Length: 100
Categories (2, object): [WT, mut]

In [5]:
Counts=np.random.poisson(5,100)
Counts

array([ 6,  6,  5,  4,  6,  3,  4,  5,  5,  7,  5,  4,  5,  7,  7,  7,  3,
        5,  7,  6,  6,  4,  2,  9,  7,  4,  3,  3,  3,  8,  2,  5,  1,  9,
        3,  7,  4,  6,  6,  6,  4,  4,  2,  7,  5,  5,  8,  3,  6,  7,  5,
        5,  7,  3,  4,  6,  7,  2,  3,  4,  9,  6,  1,  5,  6,  1,  5,  2,
        4,  9,  4,  6,  4,  3,  5,  5,  6,  4,  3,  1,  2,  3,  2,  8,  5,
       10,  3,  6,  3,  5,  2,  2,  6,  8,  5,  5,  1,  2,  5,  0])

**Exercise 2:  Combine these into a Dataframe called df**

In [6]:
df=pd.DataFrame({'Norm1':Norm1, 'Norm2':Norm2, 'Conditions':Conditions, 'Counts':Counts})
df.head()

      Norm1     Norm2 Conditions  Counts
0 -1.715169  3.113903         WT       6
1 -3.772064 -0.492912        mut       6
2  2.576749  0.643590        mut       5
3  1.081432  3.518214        mut       4
4 -3.491432  6.134270         WT       6

# Statistics on the dataset

The mean/stdev of Norm1 should be 0/4.  The mean/stdev of Norm2 should be 3/2.  

**Question 1:  How far off are these from our dataframe?**

In [7]:
df.describe(include='all')

             Norm1       Norm2 Conditions      Counts
count   100.000000  100.000000        100  100.000000
unique         NaN         NaN          2         NaN
top            NaN         NaN         WT         NaN
freq           NaN         NaN         51         NaN
mean     -0.111468    2.838202        NaN    4.740000
std       3.998453    2.312125        NaN    2.115933
min     -11.852746   -2.592556        NaN    0.000000
25%      -2.860259    1.413833        NaN    3.000000
50%       0.161762    2.831394        NaN    5.000000
75%       2.778385    4.208645        NaN    6.000000
max       7.683296    8.728064        NaN   10.000000

**Question 2:  What Condition is the entry with the highest Norm1 value?**  
You can use sort_values or iloc/idxmax to accomplish this.

In [8]:
df.iloc[df['Norm1'].idxmax()]

Norm1          7.6833
Norm2         2.81644
Conditions         WT
Counts              9
Name: 33, dtype: object

In [9]:
df.sort_values(by='Norm1', ascending=False)

        Norm1     Norm2 Conditions  Counts
33   7.683296  2.816443         WT       9
65   7.462434  2.231428        mut       1
70   7.148583  0.538604         WT       4
35   6.678654 -1.455495         WT       7
89   6.471939  5.669827         WT       5
..        ...       ...        ...     ...
67  -6.734791 -0.865765        mut       2
13  -6.735303  3.856574        mut       7
16  -6.950979 -0.152023         WT       3
26  -9.908349  5.914119         WT       3
95 -11.852746  8.728064         WT       5

[100 rows x 4 columns]

**Question 3:  What is the most common value for Counts?**

In [10]:
df['Counts'].value_counts().index[0]

5

# Looping

**Exercise 3:  Loop through the columns of df and print out their names but with ' (preliminary)' tacked on to the end.**  
It should look something like:  

Norm1 (preliminary)  
Norm2 (preliminary)  
Conditions (preliminary)  
Counts (preliminary)

In [11]:
for c in df.columns:
    print(c+' (preliminary)')

Norm1 (preliminary)
Norm2 (preliminary)
Conditions (preliminary)
Counts (preliminary)