<a href="https://colab.research.google.com/github/cwood1967/Data_Science_Course/blob/cjw/Intro/python01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Intro
We will go over some python basics
- indenting
- imports
- data types

In [ ]:
'''
in a notebook, type code into a cell, and push the play button,
or shift-enter

the last line of the cell will be printed if it isn't an assignment
'''
x = 4  # set x equal to 4
x      # this will print x

4

In [ ]:
''' control things like if statements, loops and function defs with indenting
    to denote when code blocks start and stop
    - notice below the indention is only 2 spaces, most often see 4,
    - every line in the block must be same indent level
'''

if x > 5:
  a = 2
  print('yes')   # strings can be defined with single or double quotes
else:
  a = 1
  print('no')

no

In [ ]:
sum_even = 0
sum_odd = 0
for i in range(12):
    if i % 2 == 0:
        print(f'{i} is even')   # f-string for easier string formatting
        sum_even += i
    else:
        print(f'{i} is odd')
        sum_odd += i


print(sum_even, sum_odd)

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
30 36

In [ ]:
''' imports
 enables use other modules or packages
 typically at the top of the file, but can be anywhere

these are all standard python packages
'''
import os
import sys
import glob

In [ ]:
print(sys.executable, os.name)

/usr/bin/python3 posix

In [ ]:
os.listdir('sample_data')

['anscombe.json',
 'README.md',
 'mnist_test.csv',
 'california_housing_train.csv',
 'mnist_train_small.csv',
 'california_housing_test.csv']

In [ ]:
### determine if a path exists
os.path.exists("/usr/bin")

True

In [ ]:
### use a glob pattern to find files
glob.glob('sample_data/*.csv')

['sample_data/mnist_test.csv',
 'sample_data/california_housing_train.csv',
 'sample_data/mnist_train_small.csv',
 'sample_data/california_housing_test.csv']

In [ ]:
'''
tuple - sequence of comma separated values with parentheses
immutable (static)
not a specific data type
'''
z1 = (4,5, "no", [6,7])
#z1[0] = "no" # will raise an error
for b in z1: # for each over the tuple
    print(b)

if 4 in z1:  # use in to determine if an element is in the tuple
    print("yes")
else:
    print("no")

4
5
no
[6, 7]
yes

In [ ]:
'''
list  - not a set length
elements can be changed
not a specific data type
'''
z = [4,5, "no"]
z[0] = 3 # can change elements
z.append("appended")
z.insert(2, "inserted")

for i, b in enumerate(z):  # use enumerate to get index number
    print(i, b)

0 3
1 5
2 inserted
3 no
4 appended

In [ ]:
'''
to add items to a list in a loop, use append
'''

newlist = list()
for b in z:
    newlist.append(b*2)

newlist

[6, 10, 'insertedinserted', 'nono', 'appendedappended']

In [ ]:
'''
don't name things list
'''
# list = [8,6,7]
t = (1, 2, "three")
list(t)

[1, 2, 'three']

In [ ]:
del(list)

In [ ]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
'''
dictionaries
key value pairs
order (might) not the same as inserted!!!!
as of python 3.7 dict keys keep insertion order
'''
d = {'date':"10/10/20",  ## you can uses multiple line for readability
     'time':39.5,
     'distance':4.6}
d, d.keys(), sys.version

({'date': '10/10/20', 'distance': 4.6, 'time': 39.5},
 dict_keys(['date', 'time', 'distance']),
 '3.6.9 (default, Jul 17 2020, 12:50:27) \n[GCC 8.4.0]')

In [ ]:
# to access values
d['time']

39.5

In [ ]:
# to iterate over a dictionary
for k, v in d.items():
    print(f"key: {k}, value: {v}")

key: date, value: 10/10/20
key: time, value: 39.5
key: distance, value: 4.6

In [ ]:
d.keys()

dict_keys(['date', 'time', 'distance'])

In [ ]:
d.values()

dict_values(['10/10/20', 39.5, 4.6])

In [ ]:
## check if an key is in the dictionary
if 'date' in d:
    print("yes")
    
if 'temperature' in d:
    print("yes")
else:
    print('no')

yes
no

In [ ]:
##help(d)

(1, 2)

[Numpy tutorial](https://www.machinelearningplus.com/python/numpy-tutorial-part1-array-python-examples/)

[Matplotlib](https://www.machinelearningplus.com/plots/matplotlib-tutorial-complete-guide-python-plot-examples/)
```
# This is formatted as code
```