# Homework 2:  Selecting, replacing, deriving data (3,4)

In [ ]:
import pandas as pd
import numpy as np

Some functions we have covered

- pd.Series()
- df=pd.DataFrame({'A': 1., 'B': pd.Timestamp('20130102'), 'C': pd.Series(1, index=list(range(4)), dtype='float32'), 'D': np.array([3] * 4, dtype='int32'), 'E': pd.Categorical(["test", "train", "test", "train"]), 'F': 'foo'})
- df.T
- df.index 
- df.columns 
- df.sort_values(by='C') 
- df['A'] 
- df.describe(include=['number', 'category', 'all'], percentiles=[.05, .25, .75, .95]) 
- df.max(skipna=False) 
- df.min() 
- df.sum() 
- df.mean() 
- df.unique() 
- df.idxmax() 
- df.iloc 
- df.value_counts() 
- df[['A', 'B']] 
- (df['A']>1) & (df['B']>1) 
- df[df['A']>1, 'B'] 
- df.loc[df['A']==3.14, 'A']=0

pd.Series()
df=pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df.T
df.index
df.columns
df.sort_values(by='C')
df['A']

df.describe(include=['number', 'category', 'all'], percentiles=[.05, .25, .75, .95])
df.max(skipna=False)
df.min()
df.sum()
df.mean()
df.unique()

df.idxmax()
df.iloc
df.value_counts()

df[['A', 'B']]
(df['A']>1) & (df['B']>1)
df[df['A']>1, 'B']

df.loc[df['A']==3.14, 'A']=0

Retrieve titanic data

In [ ]:
csv_path = 'https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv'
titanic = pd.read_csv(csv_path)
titanic.head()

|Variable|Definition|Key|
|--- |--- |--- |
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|sex|Sex||
|Age|Age in years||
|sibsp|# of siblings / spouses aboard the Titanic||
|parch|# of parents / children aboard the Titanic||
|ticket|Ticket number||
|fare|Passenger fare||
|cabin|Cabin number||
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|

Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
survival Survival (0 = No; 1 = Yes)
name Name
sex Sex
age Age
sibsp Number of Siblings/Spouses Aboard
parch Number of Parents/Children Aboard
ticket Ticket Number
fare Passenger Fare (British pound)
cabin Cabin
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

# Selecting data

**Question 1:  How many first class passengers were on the ship?**

In [ ]:
# YOUR CODE HERE

There were three places passengers embarked from:  C = Cherbourg; Q = Queenstown; S = Southampton

**Question 2:  Which one of these locations had the most first class passengers?**

In [ ]:
# YOUR CODE HERE

**Question 3:  Which embarkation location had the highest percentage of its passengers in first class?**

In [ ]:
# YOUR CODE HERE

**Exercise 1:  Make 2 new dataframes.** The first called Southampton should contain all of the original dataframe but with only passengers embarking from Southampton.  The second called CherbourgQueenstown should contain all of the original dataframe but with only the passengers embarking from Queenstown and Cherbourg.

In [ ]:
# YOUR CODE HERE
Southampton = 
CherbourgQueenstown =

**Exercise 2:  For each of these new dataframes, find the ratio of the total number of males to females.**  
Was one group more male heavy than the other?

In [ ]:
# YOUR CODE HERE

# Replacing data

C, Q, and S are not very descriptive.  Let's make a new dataframe that is simply a copy of titanic (if we operate on the original titanic some things above might break if run out of order).

In [ ]:
# Run this cell as-is
titanic_copy=titanic

**Exercise 3:  Now in titanic_copy, replace C with Cherbourg, Q with Queenstown and S with Southampton.**

In [ ]:
# YOUR CODE HERE

**Exercise 4:  Replace all passengers having an NaN age.**  
Replace NaN male ages with the average male passenger age and all female passengers having an NaN age with the average female passenger age in titanic_copy.

In [ ]:
# YOUR CODE HERE

# Derived data

**Exercise 5:  Create a new column 'YearsLeft' in titanic_copy.**  
It should calculate how many years of life each passenger had left.  The average lifespan at the time was about 55 years.

In [ ]:
# YOUR CODE HERE

**Exercise 6:  For any passenger with a negative 'YearsLeft' replace it with 0.**  
Unfortunately there are 40 people who outlived the average lifespan so their 'YearsLeft' is negative.

In [ ]:
# YOUR CODE HERE

**Question 4:  Approximately how many total years of life were lost in the sinking of the Titanic?**

In [ ]:
# YOUR CODE HERE