# Homework 3: Reshaping, sorting (5)

In [ ]:
import pandas as pd
import numpy as np

Some functions we have learned

- pd.Series() 
- df=pd.DataFrame({'A': 1., 'B': pd.Timestamp('20130102'), 'C': pd.Series(1, index=list(range(4)), dtype='float32'), 'D': np.array([3] * 4, dtype='int32'), 'E': pd.Categorical(["test", "train", "test", "train"]), 'F': 'foo'}) 
- df.T 
- df.index 
- df.columns 
- df.sort_values(by='C') 
- df['A'] 
- df.describe(include=['number', 'category', 'all'], percentiles=[.05, .25, .75, .95]) 
- df.max(skipna=False) 
- df.min() 
- df.sum() 
- df.mean() 
- df.unique() 
- df.idxmax() 
- df.iloc 
- df.value_counts() 
- df[['A', 'B']] (df['A']>1) & (df['B']>1) df[df['A']>1, 'B'] 
- df.loc[df['A']==3.14, 'A']=0 df.sort_values(by='A') 
- df.pivot_table(values='Name', aggfunc=np.sum, index='Row', columns='Column') 
- df.melt(id_vars=None, value_vars=None, var_name=None, value_name='value')

pd.Series()
df=pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df.T
df.index
df.columns
df.sort_values(by='C')
df['A']

df.describe(include=['number', 'category', 'all'], percentiles=[.05, .25, .75, .95])
df.max(skipna=False)
df.min()
df.sum()
df.mean()
df.unique()

df.idxmax()
df.iloc
df.value_counts()

df[['A', 'B']]
(df['A']>1) & (df['B']>1)
df[df['A']>1, 'B']

df.loc[df['A']==3.14, 'A']=0
df.sort_values(by='A')
df.pivot_table(values='Name', aggfunc=np.sum, index='Row', columns='Column')
df.melt(id_vars=None, value_vars=None, var_name=None, value_name='value')

In [ ]:
csv_path = 'https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv'
titanic = pd.read_csv(csv_path)
titanic.head()

## Pivot tables

**Exercise 1:**  Generate a new table named *Survived* using `titanic.pivot_table(...)`. The tabke should have *Pclass* as rows and *Sex* as columns for those that have survived.  Hint:  Since the 'Survived' column is 0 if they did not survive and 1 if they did, we can simply sum it for counting survived.

In [ ]:
# YOUR CODE HERE
Survived =

**Exercise 2:**  Generate a table named *Total* using `titanic.pivot_table(...)`. The table should have *Pclass* as rows and *Sex* as columns for all passengers.  `len` is a perfectly acceptable aggfunc

In [ ]:
# YOUR CODE HERE
Total =

If tables are exactly the same dimensions, we can actually just add/multiply etc with them.  If your Survived and Total work the table below should show the infamous survival rate by class/sex.

In [ ]:
# Run this cell as-is to get survival rate
Survived/Total * 100

## More pivot tables

Before we tried to look at the relationship between number the embarkation point and the first class passengers on the Titanic.  It took us 3 long lines to get the percentage of 1st class for each location.

In [ ]:
# Run this cell as-is 
print(len(titanic.loc[(titanic['Pclass']==1) & (titanic['Embarked']=='C')])/len(titanic[(titanic['Embarked']=='C')]))
print(len(titanic.loc[(titanic['Pclass']==1) & (titanic['Embarked']=='Q')])/len(titanic[(titanic['Embarked']=='Q')]))
print(len(titanic.loc[(titanic['Pclass']==1) & (titanic['Embarked']=='S')])/len(titanic[(titanic['Embarked']=='S')]))

**Exercise 3:**   Instead of percentages, use pivot_table to generate a new table called EmbarkedClass that shows the # of each class by embarkation point.  You should have embarkation site in the rows of the new table and the passenger class in the columns.

In [ ]:
# YOUR CODE HERE

If it worked well, the following should give the percentage of passengers at each embarkation point that correspond to each class.

DO NOT DELETE FOLLOWING CODE

In [ ]:
# Run this cell as-is to get percentages
EmbarkedClassPercents = EmbarkedClass.transform(lambda x: x/x.sum(), axis=1)*100
EmbarkedClassPercents

**Exercise 4:** Take EmbarkedClassPercents and sort it so that Embarked location with the highest percentage of 3rd class is at the top and the lowest is at the bottom.

In [ ]:
# YOUR CODE HERE

**Exercise 5:** Use melt on EmbarkedClass to get back a table with 3 columns:  Embarked, Pclass, and Counts.  Where Embarked is the C/Q/S code, Pclass is 1 or 2 (we are throwing out 3rd class) and Counts is the number of people associated with that pair.  Hint:  melt has a value_vars argument that lets you melt only some of the columns.

In [ ]:
# YOUR CODE HERE