# Homework 1: Construction, structures and simple statistics (0,1,2)

In [60]:
import pandas as pd
import numpy as np

Some functions we have learned.

pd.Series()
df=pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df.T
df.index
df.columns
df.sort_values(by='C')
df['A']

df.describe(include=['number', 'category', 'all'], percentiles=[.05, .25, .75, .95])
df.max(skipna=False)
df.min()
df.sum()
df.mean()
df.unique()

df.idxmax()
df.iloc
df.value_counts()

# Constructing the dataset

**Exercise 1:  Create 4 Series**  
Create a series with 100 entries called Norm1 that has random values that are normally distributed with mean 0 and standard deviation 4.  
Create a second series with 100 entries called Norm2 that has random values that are normally distributed with mean 3 and standard deviation 2.  
Create a third series with 100 entries called Conditions that has either 'WT' or 'mut', randomly chosen.
np.random.choice() can accomplish something like this.  
Create a fourth series with 100 entries called Counts that has a poisson distribution, lambda=5.

In [74]:
Norm1 = pd.Series(np.random.normal(0, 4, 100))

In [75]:
Norm2 = pd.Series(np.random.normal(3,2,100))

In [76]:
Conditions = pd.Categorical(pd.Series(np.random.choice(['WT', 'mut'], size=100)))

In [77]:
Counts=np.random.poisson(5,100)

**Exercise 2:  Combine these into a Dataframe called df**

In [65]:
df=pd.DataFrame({'Norm1':Norm1, 'Norm2':Norm2, 'Conditions':Conditions, 'Counts':Counts})

# Statistics on the dataset

The mean/stdev of Norm1 should be 0/4.  The mean/stdev of Norm2 should be 3/2.  

**Question 1:  How far off are these from our dataframe?**

In [67]:
df.describe(include='all')

             Norm1       Norm2 Conditions      Counts
count   100.000000  100.000000        100  100.000000
unique         NaN         NaN          2         NaN
top            NaN         NaN        mut         NaN
freq           NaN         NaN         53         NaN
mean      0.112305    3.001706        NaN    5.450000
std       4.198543    1.974028        NaN    2.271363
min     -10.395118   -2.256345        NaN    1.000000
25%      -2.633903    1.703409        NaN    4.000000
50%       0.360495    2.989715        NaN    5.000000
75%       2.778031    4.403489        NaN    7.000000
max      10.098709    7.970543        NaN   12.000000

**Question 2:  What Condition is the entry with the highest Norm1 value?**  
You can use sort_values or iloc/idxmax to accomplish this.

In [69]:
df.iloc[df['Norm1'].idxmax()]

Norm1          10.0987
Norm2         0.400695
Conditions          WT
Counts               6
Name: 78, dtype: object

In [71]:
df.sort_values(by='Norm1', ascending=False)

        Norm1     Norm2 Conditions  Counts
78  10.098709  0.400695         WT       6
99   9.133550  0.802936        mut       2
14   8.703185 -1.364091         WT       2
48   8.026477  1.981101        mut       4
26   6.796200  4.631206         WT       7
..        ...       ...        ...     ...
60  -7.833238  4.467063        mut       4
36  -8.539900  2.515395        mut       6
12  -8.961708  1.618199        mut       3
49  -9.194553 -2.256345        mut       6
16 -10.395118  4.511822        mut       6

[100 rows x 4 columns]

**Question 3:  What is the most common value for Counts?**

In [85]:
df['Counts'].value_counts().index[0]

5

# Looping

**Exercise 3:  Loop through the columns of df and print out their names but with ' (preliminary)' tacked on to the end.**  
It should look something like:  

Norm1 (preliminary)  
Norm2 (preliminary)  
Conditions (preliminary)  
Counts (preliminary)

In [73]:
for c in df.columns:
    print(c+' (preliminary)')

Norm1 (preliminary)
Norm2 (preliminary)
Conditions (preliminary)
Counts (preliminary)